/* CSS reset */
*,
*::before,
*::after{
    margin: 0;
    /* de ruimte buiten het HTML-element is 0 */
    padding: 0;
    /* de ruimte binnen het HTML-element is 0 */
    box-sizing: border-box;
    /* de afmeting van het HTML-element is inclussief de padding en de border */
}

header{
    min-height: 30vh;
    background-color: rgb(60, 74, 96, .5);
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;

    h1{
        font-size: 6vw;
        color: white;
        text-shadow: 0 0 10px black;
    }
}

.unifrakturcook-bold{
    font-family: "UnifrakturCook", cursive;
    font-weight: 700;
    font-style: normal;
}
.quintessential-regular{
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
}

.dashboard{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 2rem;
    min-height: calc(70vh - 80px - 2rem);

    .item{
        border: 2px solid black;
        background-color: lightgray;
        padding: 10px;

        flex-basis: calc(50% - 20px);
        flex-shrink: 0;
        box-shadow: 0 ,5em 1em rgba(0, 0, 0, 0.3);
    }
}

footer{
    line-height: 2;
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 40px;
}


